In [2]:
import pandas as pd  
import numpy as np

In [7]:
covid_data = pd.read_csv('data\overview_2021-10-08.csv', parse_dates=['date'])
covid_data.head(5)

,areaCode,areaName,areaType,date,newAdmissions,newCasesByPublishDate,newDailyNsoDeathsByDeathDate,newVaccinesGivenByPublishDate
0,K02000001,United Kingdom,overview,2021-10-08,NaN,36060.0,NaN,NaN
1,K02000001,United Kingdom,overview,2021-10-07,NaN,40701.0,NaN,61685.0
2,K02000001,United Kingdom,overview,2021-10-06,NaN,39851.0,NaN,61404.0
3,K02000001,United Kingdom,overview,2021-10-05,NaN,33869.0,NaN,69919.0
4,K02000001,United Kingdom,overview,2021-10-04,747.0,35077.0,NaN,67008.0

In [8]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618 entries, 0 to 617
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   areaCode                       618 non-null    object
 1   areaName                       618 non-null    object
 2   areaType                       618 non-null    object
 3   date                           618 non-null    datetime64[ns]
 4   newAdmissions                  561 non-null    float64
 5   newCasesByPublishDate          617 non-null    float64
 6   newDailyNsoDeathsByDeathDate   604 non-null    float64
 7   newVaccinesGivenByPublishDate  270 non-null    float64
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 38.8+ KB

In [17]:
covid_data.describe(include=['datetime']).T

C:\Users\steph\anaconda3\envs\montVenv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

     count unique        top freq      first       last
date   618    618 2021-04-03    1 2020-01-30 2021-10-08

In [18]:
covid_data.describe().T

,count,mean,std,min,25%,50%,75%,max
newAdmissions,561.0,977.089127,967.913031,72.0,218.00,724.0,1432.0,4583.0
newCasesByPublishDate,617.0,13267.896272,14753.687332,0.0,1805.00,5534.0,23254.0,68053.0
newDailyNsoDeathsByDeathDate,604.0,269.094371,362.956717,0.0,23.00,96.0,419.5,1484.0
newVaccinesGivenByPublishDate,270.0,339003.511111,183231.653824,41523.0,190360.75,314885.0,492964.0,844285.0

In [19]:
covid_data.describe(include=['object']).T

         count unique             top freq
areaCode   618      1       K02000001  618
areaName   618      1  United Kingdom  618
areaType   618      1        overview  618